# Hugging Face Configuration (get from https://huggingface.co/settings/tokens - need Write permission)
HF_TOKEN=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
AWS_ARN_ROLE=

COMET_API_KEY=
COMET_PROJECT=text2diagram-llm

OPENAI_API_KEY=

# Ngrok (optional)
NGROK_AUTHTOKEN=
