__pycache__/
*.pyc

~$*.docx
.env
venv/
env/
output/Evalutation
output/pages
output/problems
output/problems_diagrams
output/geometry_sbt8_t2.json
output/geometry8_t1.json
output/problems.json
geo-model-builder/

