__pycache__/
*.pyc

~$*.docx
.env
venv/
env/
notebook/draft_2
notebook/notebook_draft
text_references_last.ipynb
text_references_phobert.ipynb
geometry_pages/
geometry_pages_7/
logic.txt
detai.txt
output/Evalutation
output/pages
output/problems
output/problems_diagrams
output/geometry_sbt8_t2.json
output/geometry8_t1.json
output/problems.json


